{% load static %}
{% block header %}
<header>
    <div class="golova">
        
        <div id="sun">
            <button class="btnh"><img class="sun" src="{% static 'homepage/img/sun.png' %}"></button>
        </div>
        <div id="yourlogo">
            <button class="btnh"><img class="sun" id="avatarka"
                                          src=" {% if user.image %}{{ user.image.url }}{% else %}{% static 'homepage/img/default-ava.png' %}{% endif %}"></button>
        </div>
        <div id="chat">
            <button class="btnh"><img class="sun" id="chatblack"
                                        src="{% static 'homepage/img/Chatblack.png' %}"></button>
        </div>
    </div>
</header>
{% endblock %}
