{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
    <div class="flex justify-between mb-4">
        <div class="flex space-x-4">
            <a class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" href="{% url 'classroom:TeacherClassroomGuide' %}?graduated=0">Текущие классы</a>
        </div>
    </div>

    <div class="text-2xl font-bold mb-4">{{ context_title }}</div>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% for classroom in classrooms %}
            <div class="bg-white p-4 rounded shadow">
                <div class="text-xl font-semibold">{{ classroom.number }}{{ classroom.letter }}</div>
                <div class="mt-2">
                    <div class="text-gray-600">Классный руководитель</div>
                    <div class="text-gray-800">{{ classroom.teacher.last_name }} {{ classroom.teacher.first_name }} {{ classroom.teacher.surname }}</div>
                </div>
                <div class="mt-2">Класс: {{ classroom.child.count }}/30 учеников</div>
                {% if graduated %}
                    <div class="mt-2">Год выпуска: {{ classroom.graduation_year }}</div>
                {% endif %}
                <div class="mt-4 flex space-x-2">
                    <a href="{% url 'classroom:student-applications-admin' classroom.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Посмотреть участников</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
