{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olimp | Главная страница</title>
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="shortcut-icon" href="{% static 'homepage/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'homepage/img/logoolimp.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
</head>
{% include 'header/header.html' %}
{% block header %}
{% endblock %}

{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}
<body>
<div class="main">
    <div class="info">
        <div class="infobox">
        </div>
        <p id="infotext">Информация о вас</p>
        <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <img class="imgocontovka" src="{% static 'homepage/img/Base.png' %}" alt="">
                <img class="imgpers"
                     src="
                             {% if user.image %}{{ user.image.url }}{% else %}{% static 'homepage/img/default-ava.png' %}{% endif %}"
                     alt="">
            </div>
            <div class="info">
                <div class="textinfo">
                    <p class="fioinfo">{{ user.last_name }} {{ user.first_name }} {{ user.surname }}</p>
                    {% if user.is_child %}
                        <p class="classinfo">Класс: {{ user.classroom.number }}{{ user.classroom.letter }}</p>
                    {% endif %}
                    {% if user.is_teacher %}
                        <p class="classinfo">Классный руководитель:
                            {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }} класса</p>
                    {% endif %}
                    {% if user.is_admin %}
                        <p class="classinfo">Администратор системы</p>
                    {% endif %}
                </div>
            </div>
    </div>
</div>
<div class="text">Расписание ближайших олимпиад</div>
<div class="wrapper">
    <div class="text">Расписание ближайших олимпиад</div>
    <header>
        <p class="current-date"></p>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded"><img src="{% static 'homepage/img/Group%20289724.png' %}"></span>
            <span id="next" class="material-symbols-rounded"><img src="{% static 'homepage/img/Group%20289723.png' %}"></span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Пн</li>
            <li>Вт</li>
            <li>Ср</li>
            <li>Чт</li>
            <li>Пт</li>
            <li>Сб</li>
            <li>Вс</li>
        </ul>
        <ul class="days"></ul>
    </div>
</div>
<div class="logsbox">
    <div id="nedav">Недавние результаты</div>
    <button id="pokazat" href="">Показать все</button>
    <div class="rezultlast">
        <p id="rezultlasttext"></p>
        <label>
            <table id="tableinfo">
                <tr id="tableinfocol">
                    <td>Категория</td>
                    <td>Предмет</td>
                    <td class="h">Количество баллов</td>
                </tr>
                <tr>
                    <th id="vseros">Всероссийская</th>
                    <th id="math">Математика</th>
                    <th id="ball">8 из 8</th>
                </tr>
                <tr id="tableinfocol2">
                    <td>Этап</td>
                    <td>Уровень</td>
                    <td class="h">Заработано опыта</td>
                </tr>
                <tr>
                    <th id="school">Школьный</th>
                    <th id="school2">Школьный</th>
                    <th id="oput">300</th>
                </tr>
            </table>
        </label>
    </div>
</div>
</div>
</div>

<script src="{% static 'homepage/js/calendar.js' %}"></script>

</body>
</html>