{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olimp | Главная страница</title>
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="shortcut-icon" href="{% static 'homepage/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'homepage/img/logoolimp.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
</head>
<body>
{% include 'header/header.html' %}
{% include 'navbar/navbar.html' %}

<div class="main">
    <div class="info">
        <div class="infobox">
        </div>
        <p id="infotext">Информация о вас</p>
        <form action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <img class="imgocontovka" src="{% static 'homepage/img/Base.png' %}" alt="">
                <img class="imgpers"
                     src="
                             {% if user.image %}{{ user.image.url }}{% else %}{% static 'homepage/img/default-ava.png' %}{% endif %}"
                     alt="">
            </div>
            <div class="info">
                <div class="textinfo">
                    <p class="fioinfo">{{ user.last_name }} {{ user.first_name }} {{ user.surname }}</p>
                    {% if user.is_child %}
                        <p class="classinfo">Класс: {{ user.classroom.number }}{{ user.classroom.letter }}</p>
                    {% endif %}
                    {% if user.is_teacher %}
                        <p class="classinfo">Классный руководитель:
                            {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }} класса</p>
                    {% endif %}
                    {% if user.is_admin %}
                        <p class="classinfo">Администратор системы</p>
                    {% endif %}
                </div>
            </div>
    </div>
</div>
<div class="text">Расписание ближайших олимпиад</div>
<div class="wrapper">
    <div class="text">Расписание ближайших олимпиад</div>
    <header>
        <p class="current-date"></p>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded"><img src="{% static 'homepage/img/Group%20289724.png' %}"></span>
            <span id="next" class="material-symbols-rounded"><img src="{% static 'homepage/img/Group%20289723.png' %}"></span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Пн</li>
            <li>Вт</li>
            <li>Ср</li>
            <li>Чт</li>
            <li>Пт</ли>
            <li>Сб</ли>
            <li>Вс</ли>
        </ul>
        <ul class="days"></ul>
    </div>
</div>
<div class="logsbox">
    <div id="nedav">Недавние результаты</div>
    <button id="pokazat" href="">Показать все</button>
    <div class="rezultlast">
        <table id="tableinfo">
            <tr id="tableinfocol">
                <td>Олимпиада</td>
                <td>Баллы</td>
                <td>Статус</td>
                <td>Дата</td>
            </tr>
            {% for result in recent_results %}
            <tr>
{#                <td>{{ result.info_children.last_name }}</td>#}
{#                <td>{{ result.info_children.first_name }}</td>#}
{#                <td>{{ result.info_children.surname }}</td>#}
                <td>{{ result.info_olympiad.name }}</td>
                <td>{{ result.points }}</td>
                <td>{{ result.get_status_result_display }}</td>
                <td>{{ result.date_added }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script src="{% static 'homepage/js/calendar.js' %}"></script>

</body>
</html>
