<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% include 'navbar/navbar2.html' %}
    {% include 'navbar/header test.html' %}

{#    <div class="container mx-auto mt-4">#}
{#        {% block content %}#}
{#        {% endblock content %}#}
{#    </div>#}
</body>
</html>
