<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список администраторов</title>
    <link rel="stylesheet" href="{% static 'admin-list.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
</head>
<body>
{% include 'header/header.html' %}
{% include 'navbar/navbar.html' %}
<div class="main">
    <div class="container">
        <h1>Список администраторов</h1>
        <a href="{% url 'users:CreateAdmin' %}" class="create-button">
            <button>Создать администратора</button>
        </a>
        <ul class="admin-list">
            {% for admin in admins %}
                <li>{{ admin.first_name }} {{ admin.last_name }} ({{ admin.username }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
