{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Добавить заявку</h2>
    <form method="post" id="registerForm" class="space-y-4">
        {% csrf_token %}

        <!-- Отображение общих ошибок формы -->
        {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Ошибки:</strong>
            <span class="block sm:inline">{{ form.non_field_errors }}</span>
        </div>
        {% endif %}

        <div>
            <label for="classroom" class="block text-gray-700">Класс</label>
            <select id="classroom" name="classroom" class="w-full p-2 border border-gray-300 rounded mt-1">
                <option value="">Выберите класс</option>
                {% for classroom in classrooms %}
                    <option value="{{ classroom.id }}">{{ classroom.number }}{{ classroom.letter }}</option>
                {% endfor %}
            </select>
            {% if form.classroom.errors %}
            <p class="text-red-500 text-xs italic">{{ form.classroom.errors }}</p>
            {% endif %}
        </div>

        <div>
            <label for="student" class="block text-gray-700">Ученик</label>
            <select id="student" name="student" class="w-full p-2 border border-gray-300 rounded mt-1">
                <option value="">Сначала выберите класс</option>
            </select>
            {% if form.student.errors %}
            <p class="text-red-500 text-xs italic">{{ form.student.errors }}</p>
            {% endif %}
        </div>

        <div>
            <label for="olympiad" class="block text-gray-700">Олимпиада</label>
            <select id="olympiad" name="olympiad" class="w-full p-2 border border-gray-300 rounded mt-1">
                <option value="">Сначала выберите ученика</option>
            </select>
            {% if form.olympiad.errors %}
            <p class="text-red-500 text-xs italic">{{ form.olympiad.errors }}</p>
            {% endif %}
        </div>

        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
            Добавить заявку
        </button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#classroom').change(function () {
            var classroomId = $(this).val();
            if (classroomId) {
                $.ajax({
                    url: '{% url "register:get_students_for_classroom" %}',
                    data: {'classroom_id': classroomId},
                    success: function (data) {
                        var studentSelect = $('#student');
                        studentSelect.empty().append(new Option('Выберите ученика', ''));
                        data.students.forEach(function (student) {
                            studentSelect.append(new Option(student.name, student.id));
                        });
                    }
                });
            } else {
                $('#student').empty().append(new Option('Сначала выберите класс', ''));
                $('#olympiad').empty().append(new Option('Сначала выберите ученика', ''));
            }
        });

        $('#student').change(function () {
            var studentId = $(this).val();
            if (studentId) {
                $.ajax({
                    url: '{% url "register:get_olympiads_for_student" %}',
                    data: {'student_id': studentId},
                    success: function (data) {
                        var olympiadSelect = $('#olympiad');
                        olympiadSelect.empty().append(new Option('Выберите олимпиаду', ''));
                        data.olympiads.forEach(function (olympiad) {
                            olympiadSelect.append(new Option(`${olympiad.name} - ${olympiad.stage} - ${olympiad.class_olympiad}`, olympiad.id));
                        });
                    }
                });
            } else {
                $('#olympiad').empty().append(new Option('Сначала выберите ученика', ''));
            }
        });
    });
</script>
{% endblock %}
