<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Мое приложение</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'search_friends' %}">Поиск друзей</a>
            <a href="{% url 'view_friends' %}">Мои друзья</a>
            <!-- другие ссылки -->
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My App</p>
    </footer>
</body>
</html>
