{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Профиль пользователя</h2>
    <div class="profile flex flex-col items-center">
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="{{ user.get_full_name }}" class="w-36 h-36 rounded-full mb-4">
        {% else %}
            <img src="{% static 'homepage/img/default-ava.png' %}" alt="{{ user.get_full_name }}" class="w-36 h-36 rounded-full mb-4">
        {% endif %}
        <p class="text-lg"><strong>Имя:</strong> {{ user.get_full_name }}</p>
        <p class="text-lg"><strong>Логин:</strong> {{ user.username }}</p>
        <p class="text-lg"><strong>Дата рождения:</strong> {{ user.birth_date }}</p>
        <p class="text-lg"><strong>Пол:</strong> {{ user.get_gender_display }}</p>

        {% if is_owner %}
            <form method="post" enctype="multipart/form-data" class="w-full mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mt-2">Сохранить изменения</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
