<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'friends.css' %}">
</head>

<body>
<h2>Поиск друзей</h2>
<form method="get" action="{% url 'friends:search_friends' %}">
    <input type="text" name="q" placeholder="Введите имя пользователя" value="{{ query }}">
    <button type="submit">Поиск</button>
</form>

<ul>
    {% for user in users %}
    <li class="user-item">
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="{{ user.get_full_name }}" width="50">
        {% else %}
        <img src="{% static 'homepage/img/default-ava.png' %}" alt="{{ user.get_full_name }}" width="50">
        {% endif %}
        <a href="{% url 'users:profile' user_id=user.id %}">{{ user.get_full_name }}</a> ({{ user.username }})
        {% if user in friends %}
            - Ваш друг
        {% elif user in friend_requests %}
            - Ожидание подтверждения
        {% else %}
            <a class="friend-button" href="{% url 'friends:add_friend' user.id %}">Добавить в друзья</a>
        {% endif %}
    </li>
    {% empty %}
    <li>Пользователи не найдены.</li>
    {% endfor %}
</ul>


</body>
</html>