<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olimp | Список учебных классов</title>
    <link rel="stylesheet" href="{% static 'list_classroom/list_classroom.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="shortcut-icon" href="{% static 'list_classroom/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'list_classroom/img/logoolimp.jpg' %}">
</head>
{% include 'header/header.html' %}
{% block header %}
{% endblock %}
{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}
<body>
<div class="main">
    <div class="classes">Классы</div>
    <a class="addclass" href="{% url 'classroom:classroom_create' %}">Добавить класс</a>
    <a class="promote-all" href="{% url 'classroom:promote_all_classrooms' %}">Продвинуть все классы</a>

    <div class="switch-buttons">
        <a class="switch-button" href="{% url 'classroom:list_classroom' %}?graduated=0">Текущие классы</a>
        <a class="switch-button" href="{% url 'classroom:list_classroom' %}?graduated=1">Выпустившиеся классы</a>
    </div>

    <div class="sha">{{ context_title }}</div>

    {% for classroom in classrooms %}
    <div class="pole">
        <div class="class">{{ classroom.number }}{{ classroom.letter }}</div>
        <div class="clasruk">
            <div class="classruk">Классный руководитель:</div>
            <div class="rukovoditel">{{ classroom.teacher.last_name }} {{ classroom.teacher.first_name }} {{ classroom.teacher.surname }}
            </div>
        </div>
        <div class="kolvo">Класс: {{ classroom.child.count }}/30 учеников</div>
        {% if graduated %}
        <div class="grad-year">Год выпуска: {{ classroom.graduation_year }}</div>
        {% endif %}
        <a href="{% url 'classroom:student-applications-admin' classroom.id %}" class="watchinfo" type="button">Посмотреть
            участников</a>
        <a href="{% url 'classroom:classroom_update' classroom.pk %}" class="watchinfo" type="button">Изменить</a>
        <a href="{% url 'classroom:classroom_delete' classroom.pk %}" class="watchinfo" type="button">Удалить</a>
    </div>
    {% endfor %}
</div>
</body>
</html>
