{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
    <div class="mb-4">
        <h1 class="text-3xl font-bold">Список учеников</h1>
        <h2 class="text-xl text-gray-600">Класс: {{ classroom.number }} {{ classroom.letter }}</h2>
    </div>

    <div class="flex justify-between mb-4">
        <a class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" href="{% url 'users:CreateChild' %}">Добавить ученика</a>
    </div>

    <div class="overflow-x-auto bg-white shadow-md rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider ">
                    ID
                </th>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    ФИО
                </th>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Пол
                </th>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Дата рождения
                </th>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Действия
                </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {% for child in children %}
                <tr class="{% if child.is_expelled %}bg-gray-300{% endif %}">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                        {{ child.id }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-center">
                        {{ child.last_name }} {{ child.first_name }} {{ child.surname }}
                        {% if child.is_expelled %}
                            <span class="text-red-500">(Исключен)</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                        {{ child.gender }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                        {{ child.birth_date }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center">
                        {% if not child.is_expelled %}
                            <button onclick="openModal('{{ child.id }}')" class="text-white border-2 h-8 w-32 rounded-lg bg-yellow-300 font-medium hover:inner-shadow hover:bg-white hover:text-yellow-300 border-yellow-300 transition duration-500">Редактировать</button>
                            <button onclick="openModal('{{ child.id }}')" class="text-white border-2 h-8 w-32 rounded-lg bg-red-400 font-medium hover:inner-shadow hover:bg-white hover:text-red-400 border-red-400 transition duration-500">Удалить</button>

                        {% else %}
                            <form method="post" action="{% url 'classroom:child_reinstate_admin' child.id %}">
                                {% csrf_token %}
                                <button type="submit" class="text-green-600 hover:text-green-900">Восстановить</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div id="expelModal" class="fixed inset-0 flex items-center justify-center bg-gray-600 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded shadow-lg">
            <h2 class="text-xl mb-4">Вы уверены, что хотите исключить этого ученика?</h2>
            <div class="flex justify-end">
                <button onclick="closeModal()" class="bg-gray-300 text-black px-4 py-2 rounded mr-2">Отмена</button>
                <form id="expelForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded">Исключить</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function openModal(childId) {
            const modal = document.getElementById('expelModal');
            const form = document.getElementById('expelForm');
            form.action = `{% url 'classroom:child_expel_admin' '0' %}`.replace('0', childId);
            modal.classList.remove('hidden');
        }

        function closeModal() {
            const modal = document.getElementById('expelModal');
            modal.classList.add('hidden');
        }
    </script>
{% endblock %}
