Django
django-debug-toolbar
djangorestframework
django-excel-response
six
pillow
django-cors-headers
pandas
openpyxl
django-filter
channels
channels_redis
schedule
pymorphy3
reportlab
djangorestframework-simplejwt
prompt-toolkit
XlsxWriter
django-friendship
unicorn
unicorn[standart]
websocket
daphne
redis