Django
django-debug-toolbar
djangorestframework
six
pillow
django-cors-headers
pandas
openpyxl
django-filter
channels
channels_redis
schedule
pymorphy3
reportlab
djangorestframework-simplejwt
prompt-toolkit
XlsxWriter
django-friendship
unicorn
unicorn[standart]
websocket
daphne
redis
django-friendship
mysqlclient
pymysql
django-storages
boto3
django-image-cropping
django-imagekit

asyncio
python-telegram-bot
django-excel-response2
django-silk