{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
        <div class="toptext mb-6">
            <h1 class="text-2xl font-bold mb-2">Ваши заявки</h1>
            <h2 class="text-lg text-gray-700">Ваш класс: {{ user.classroom.number }} {{ user.classroom.letter }}</h2>
        </div>
        <div class="tablespisok mb-6">
            <div class="zagolovok mb-4">
                <h2 class="text-xl font-bold mb-4">Неотправленные заявки</h2>
                <table class="min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            ID
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Ученик
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Олимпиада
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Этап
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Пол
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Дата рождения
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                            Действие
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for register in register %}
                        <tr class="bg-gray-100 h-12">
                            <td class="nameid  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.id }}</td>
                            <td class="namefio  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.child.last_name }} {{ register.child.first_name }} {{ register.child.surname }}</td>
                            <td class="olimps  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.olympiad.name }}</td>
                            <td class="namestage  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.olympiad.stage }}</td>
                            <td class="namegender  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.child.gender }}</td>
                            <td class="namedate  px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.child.birth_date }}</td>
                            <td class="buttonedit h-8 px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">
                                <a class="bg-red-500 rounded text-center text-white hover:bg-red-600 h-8 w-20"
                                        href="{% url 'register:register_remove' register.id %}">Удалить
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="recommendations mb-6">
            <h2 class="text-xl font-bold mb-4">Рекомендации</h2>
            <table class="min-w-full bg-white divide-y divide-gray-200">
                <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        ID
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Ученик
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Олимпиада
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Рекомендовано
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Действие
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for recommendation in recommendations %}
                    {#                {% if recommendation.status == 'pending' %}#}
                    <tr class="bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ recommendation.child.id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ recommendation.child.last_name }} {{ recommendation.child.first_name }} {{ recommendation.child.surname }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ recommendation.olympiad.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ recommendation.recommended_by.first_name }} {{ recommendation.recommended_by.last_name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">
                            <form method="post" action="{% url 'register:accept_recommendation' recommendation.id %}"
                                  style="display:inline;">
                                {% csrf_token %}
                                <button type="submit"
                                        class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Принять
                                </button>
                            </form>
                            <form method="post" action="{% url 'register:reject_recommendation' recommendation.id %}"
                                  style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
                                    Отклонить
                                </button>
                            </form>
                        </td>
                    </tr>
                    {#                {% endif %}#}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="sent-requests mb-6">
            <h2 class="text-xl font-bold mb-4">Отправленные заявки</h2>
            <table class="min-w-full bg-white divide-y divide-gray-200">
                <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Ученик
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Олимпиада
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Этап
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
                        Статус
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for register in register_sends %}
                    <tr class="bg-gray-100 h-12">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.child_send.last_name }} {{ register.child_send.first_name }} {{ register.child_send.surname }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.olympiad_send.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">{{ register.olympiad_send.stage }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700 text-center">
                            {% if register.is_deleted %}
                                <span class="text-red-500">Удалено учителем</span>
                                <a href="{% url 'register:register_add' register.Olympiad_send.id %}"
                                   class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Зарегистрироваться
                                    заново</a>
                            {% else %}
                                <span class="text-green-500">Отправлено</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex space-x-4 mb-6">
            <a class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
               href="{% url 'register:register-olympiad' %}">Добавить олимпиаду</a>
            <button class="trigger bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Отправить заявку
            </button>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
        <div class="modal-content bg-white p-6 rounded-lg shadow-lg">
            <span class="close-button absolute top-2 right-2 text-gray-500 cursor-pointer">&times;</span>
            <h2 class="text-xl font-bold mb-4">Подтверждение отправки заявки</h2>
            <p class="mb-4">Вы точно хотите отправить заявку? Соглашаясь, вы подтверждаете обработку персональных
                данных.</p>
            <div class="flex space-x-4">
                <a id="confirmSend" href="{% url 'register:register_send' %}"
                   class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Да</a>
                <button class="close-button bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Нет</button>
            </div>
        </div>
    </div>

    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector(".trigger");
        var closeButton = document.querySelectorAll(".close-button");
        var confirmSend = document.getElementById("confirmSend");

        function toggleModal(event) {
            event.preventDefault();
            modal.classList.toggle("hidden");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal(event);
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.forEach(button => {
            button.addEventListener("click", toggleModal);
        });
        window.addEventListener("click", windowOnClick);
    </script>
{% endblock %}
