{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'add_teacher/add_teacher_light.css' %}" id="them">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="icon" href="{% static 'add_teacher/img/logoolimp.jpg' %}">

    <title>Olimp | Ваши заявки</title>
</head>

{% include 'header/header.html' %}
{% block header %}
{% endblock %}
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

    <img class="logo" id="l-tip" src="{% static 'add_teacher/img/logoolimp.jpg' %}">
    <p class="logoword">Olimp</p>
{% endblock %}

<div class="main">

    <h1 class="add_newstudents_text">Создание нового учителя</h1>
    <ul class="spisokreg">
        <li>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="divFam">
                    <h2>Фамилия</h2>
                    {{ form.last_name }}
                    {#                <input type=search class="vvodinfo" placeholder="Введите фамилию ученика">#}
                </div>
        </li>
        <li>
            <div class="divName">
                <h2>Имя</h2>
                {{ form.first_name }}
                {#                <input type=search class="vvodinfo" placeholder="Введите имя ученика">#}
            </div>
        </li>
        <li>
            <div class="divOtch">
                <h2>Отчество</h2>
                {{ form.surname }}
                {#                <input type=search class="vvodinfo" placeholder="Введите отчество ученика">#}
            </div>
        </li>
        <li>
            <div class="divDate">
                <h2>Дата рождения</h2>
                {{ form.birth_date }}
                {#                <input type=search class="vvodinfo" placeholder="Введите дату рождения ученика">#}
            </div>
        </li>
        <li>
            <div class="divGen">
                <h2>Пол</h2>
                {{ form.gender }}
            </div>
        </li>
        <li>
            <div class="divsubject">
                <h2>Какие предметы преподает</h2>
                {{ form.subject }}
            </div>
        </li>
        <li>
            <div class="divGen">
                <h2>Классное руководство</h2>
                {{ form.classroom_guide }}
            </div>
        </li>
        <li>
            <div class="divLogin">
                <h2>Логин</h2>
                {{ form.username }}
                <a class="randombutton" href="#">Случайный</a>
            </div>
        </li>
        <li>
            <div class="divPassword">
                <h2>Пароль</h2>
                {{ form.password }}
                <a class="randombutton" href="#">Случайный</a>

            </div>
        </li>
    </ul>
    <form class="right">
        <div class="editphoto">
            <div>
                <img class="imgpers" src="
                    
                        {% if user.image %}{{ user.image.url }}{% else %}{% static 'profile/img/default-ava.png' %}{% endif %}"
                     alt="">

                <img class="imgocontovka" src="{% static 'profile/img/Base.png' %}"
                     alt="">

                <input class="savenewphoto" type="submit" value="Загрузить новое фото"/>
                <input class="delbutton" type="submit" value="Удалить фото"/>

            </div>
        </div>
        <button type="submit" class="savebutton">Создать</button>
    </form>
</div>


<script>
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".btn-sm");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>
</div>
</body>
</html>
