<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'children_list_admin/children_list_admin.css' %}" id="them">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="icon" href="{% static 'list_classroom/img/logoolimp.jpg' %}">
    <title>Olimp | Список учеников</title>
</head>
{% include 'header/header.html' %}
{% block header %}
{% endblock %}
{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}
<body>



<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Список учеников</h1>
        <h2 class="toptext2">Класс: {{ classroom.number }}{{ classroom.letter }}</h2>
    </div>
    <div class="topbuttons">
        <input class="buttonspispeople" type="submit" value="Список участников"/>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <th>
                    <div id="id">ID</div>
                </th>
                <th>
                    <div id="textsurname">ФИО</div>
                </th>
                <th>
                    <div id="textgender">Пол</div>
                </th>
                <th>
                    <div id="textbirth">Дата рождения</div>
                </th>

            </table>

        </div>
        {% for child in child %}
        <div class="mainspisokpoeple">
            <div class="surname">{{ child.id }}</div>
            <div class="name">{{ child.last_name }} {{ child.first_name }} {{ child.surname }}</div>
            <div class="gender">{{ child.gender }}</div>
            <div class="birth">{{ child.birth_date }}</div>


            <a class="buttonedit" type="submit" value="Изменить"
               href="{% url 'classroom:child_remove_admin' child.id %}">Удалить</a>

        </div>
        {% endfor %}

    </div>
</div>
</body>
</html>
