{% extends 'base_olimp.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
        <div class="toptext mb-6">
            <h1 class="text-2xl font-bold mb-4">Заявки учеников и рекомендации</h1>
            <a href="{% url 'docs:download_teacher_applications_zip' %}"
               class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Скачать заявки класса (ZIP)</a>
            <h2 class="text-lg text-gray-700 mt-4">Класс {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }}</h2>
        </div>
        <div class="topbuttons flex space-x-4 mb-6">
            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Список участников</button>
            <a href="{% url 'register:register_send_teacher' %}"
               class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Отправить заявку</a>
            <a href="{% url 'register:add_recommendation' %}"
               class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">Добавить рекомендацию</a>
        </div>
        <div class="tablespisok">
            <div class="zagolovok mb-4">
                <h2 class="text-xl font-bold mb-4">Отправленные заявки</h2>
                <table class="min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ученик</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Олимпиада</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Этап</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Пол</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Дата рождения</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student, olympiads in student_olympiads.items %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.last_name }} {{ student.first_name }} {{ student.surname }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                                {% for olympiad in olympiads %}
                                    <div>{{ olympiad.name }}</div>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                                {% for olympiad in olympiads %}
                                    <div>{{ olympiad.stage }}</div>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.gender }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.birth_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="zagolovok mb-4">
                <h2 class="text-xl font-bold mb-4">Рекомендации</h2>
                <table class="min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ученик</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Олимпиада</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Рекомендатель</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student, recommendations in recommended_students.items %}
                        {% for recommendation in recommendations %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.id }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.last_name }} {{ student.first_name }} {{ student.surname }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ recommendation.olympiad.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ recommendation.recommended_by }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                                    <form method="post" action="{% url 'register:accept_recommendation' recommendation.id %}" class="inline-block">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-600">
                                            Принять
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'register:reject_recommendation' recommendation.id %}" class="inline-block ml-2">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">
                                            Отклонить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="zagolovok mb-4">
                <h2 class="text-xl font-bold mb-4">Отправленные заявки</h2>
                <table class="min-w-full bg-white divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ученик</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Олимпиада</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Этап</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Пол</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Дата рождения</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student, olympiads in sent_applications.items %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.last_name }} {{ student.first_name }} {{ student.surname }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                                {% for olympiad in olympiads %}
                                    <div>{{ olympiad.name }}</div>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                                {% for olympiad in olympiads %}
                                    <div>{{ olympiad.stage }}</div>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.gender }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ student.birth_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
