{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'student-applications/student-applications.css' %}" id="them">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <title>Olimp | Заявки вашего класса</title>
</head>
<body>
{% include 'header/header.html' %}
{% include 'navbar/navbar.html' %}

<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Заявки учеников</h1>
        <a href="{% url 'docs:download_teacher_applications_zip' %}" class="btn btn-primary">Скачать заявки класса (ZIP)</a>
        <h2 class="toptext2">Класс {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }}</h2>
    </div>
    <div class="topbuttons">
        <a class="buttonspispeople" type="submit">Список участников</a>
        <a class="buttonsend" href="{% url 'register:register_send_teacher' %}">Отправить заявку</a>
        <a class="buttonrecommend" href="{% url 'register:add_recommendation' %}">Добавить рекомендацию</a>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <thead>
                    <tr>
                        <th><div id="textid">ID</div></th>
                        <th><div id="textychenik">Ученик</div></th>
                        <th><div id="textolimp">Олимпиада</div></th>
                        <th><div id="textstage">Этап</div></th>
                        <th><div id="textgender">Пол</div></th>
                        <th><div id="textdate">Дата рождения</div></th>
                        <th><div id="textdeistie">Действие</div></th>
                    </tr>
                </thead>
            </table>
        </div>

        {% for student, olympiads in student_olympiads.items %}
        <div class="mainspisokpoeple">
            <div class="nameid">{{ student.id }}</div>
            <div class="namefio">{{ student.last_name }} {{ student.first_name }} {{ student.surname }}</div>
            <table class="tableolimps">
                <tbody>
                    {% for olympiad in olympiads %}
                    <tr>
                        <td>
                            <div class="olimps">
                                <li>
                                    {{ olympiad.name }} (ID: {{ olympiad.id }})
                                    <form method="post" action="{% url 'register:delete_register' olympiad.id student.id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit">Удалить</button>
                                    </form>
                                </li>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
