html {
    font-family: Bahnschrift;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    zoom: 85%;
}

.golova {
    background-color: white;
}

.logo {
    width: 75px;
    height: 75px;
    padding: 0;
}

.logoword {
    padding: 0;
    position: fixed;
    left: 80px;
    top: 15px;
    font-weight: bold;
    font-size: 22px;
}

.wordhead {
    padding: 0;
    position: fixed;
    left: 450px;
    top: 15px;
    font-size: 18px;
    color: gray;
}

#sun {
    right: 135px;
    position: fixed;
    margin-top: -65px;
    border: none;
    text-align: right;
    float: right;
    padding-right: 10px;
}

#sun:hover {
    cursor: pointer;
}

.solnce {
    border: none;
    background-color: white;

}

.solnce:hover {
    cursor: pointer;
}

.avatarka {
    right: 10px;
    position: fixed;
    margin-top: -77.5px;
    border: none;
    text-align: right;
    float: right;
    padding-right: 10px;
    background-color: white;

}

.avatarka:hover {
    cursor: pointer;
}

.chatik {
    right: 85px;
    position: fixed;
    margin-top: -65px;
    border: none;
    text-align: right;
    float: right;
    padding-right: 10px;
    background-color: white;
}

.chatik:hover {
    cursor: pointer;
}


.spisok li {
    margin-bottom: 75px;
}

li::marker {
    content: '';
}

#mainpage {

    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;

}

#mainpageimg {
    position: fixed;
    left: 30px;
}

#register {

    text-decoration: none;
    color: #000;
    position: fixed;

    left: 60px;
    font-size: 24px;
}

#registerimg {
    position: fixed;
    left: 25px;

}

#rezultatimg {
    position: fixed;
    left: 25px;
}

#rezultat {

    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
}

#historyimg {
    position: fixed;
    left: 25px;

}

#history {

    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#datesimg {
    position: fixed;
    left: 25px;
}

#dates {

    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#settingimg {
    position: fixed;
    left: 25px;
}

#setting {

    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#spis:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 50px solid green;
    border-top-color: inherit;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.exitbutton {
    transition-property: background;
    transition-duration: 0.3s;
    width: 183.822px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #000;
    color: #000;
    text-decoration: none;
    background: #FFF;
    position: fixed;
    left: 110px;
    bottom: 10px;
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
}

.exitbutton:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #333333;
}

.main {
    margin-top: -470px;
    position: fixed;
    background-color: #FBF7F4;
    width: 100%;
    height: 100%;
    margin-left: 400px;
    border-radius: 10px;
}

.toptext {
    font-family: Bahnschrift;
    padding-left: 20px;
    padding-top: 60px;
}

.toptext1 {
    font-family: Bahnschrift;
    color: #474747;
}

.toptext2 {
    font-family: Bahnschrift;
    opacity: 30%;
}

.topbuttons {
    padding-top: 50px;
    padding-left: 20px;
}

.buttonspispeople {
    height: 50px;
    width: 220px;
    background-color: #000;
    border-radius: 10px;
    color: white;
    font-family: Bahnschrift;
    font-size: 18px;
    border: none;
}


.savebutton {
    height: 50px;
    width: 220px;
    background-color: #3D70F5;
    margin-left: 780px;
    border-radius: 10px;
    border-color: #3D70F5;
    color: white;
    font-family: Bahnschrift;
    font-size: 18px;
    border: none;
}

.savebutton:hover {
    cursor: pointer;
}

.buttonsend {
    border: none;
    background-color: #3D70F5;
    margin-left: 1000px;
    border-radius: 10px;
    border-color: #3D70F5;
    color: white;
    font-family: Bahnschrift;
    font-size: 18px;
    text-decoration: none;
    padding: 16px;
}

.buttonsend:hover {
    cursor: pointer;
}

.buttonadd {
    margin-top: 0px;
    background-color: #ebecec;
    margin-left: 1300px;
    border-radius: 10px;
    border: none;
    color: black;
    font-family: Bahnschrift;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
}

.buttonadd:hover {
    cursor: pointer;
}

.tablespisok {
    margin-top: 60px;
    height: 212px;
    width: 1750px;
    margin-left: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.zagolovok {
    height: 55px;
    width: 100%;
    background-color: #F1F1F1;
    border-bottom: 1px solid #D9D9D9;
    border: 1px solid #D9D9D9;
}

.mainzagolovoktext tr th {
    padding-top: 18px;
    padding-left: 30px;
    font-weight: 400;
}

.mainspisokpoepletable {
    padding-top: 18px;
    padding-left: 20px;
    font-size: 18px;
}

.mainspisokpoeple {
    width: 100%;
    padding-top: 30px;
    height: 40px;
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
}

#id {
    margin-left: 40px;
}

#textsurname {

    margin-left: 160px;
}

#textgender {
    margin-left: 160px;
    width: 100px;
}

#textbirth {
    margin-left: 150px;
}

.namedate {
    text-align: center;
    position: absolute;
    margin-top: -88px;
    margin-left: 1320px;
    font-family: Bahnschrift;
    font-size: 17px;
    padding: 6px;
    background-color: #ffff;
    border: 1px solid #434343;
    border-radius: 5px;


}

.namegender {
    text-align: center;
    position: absolute;
    margin-top: -88px;
    margin-left: 1170px;
    font-family: Bahnschrift;
    font-size: 17px;
    padding: 6px;
    background-color: #ffff;
    border: 1px solid #434343;
    border-radius: 5px;
}

.namestage {
    text-align: center;
    position: absolute;
    margin-top: -88px;
    margin-left: 995px;
    font-family: Bahnschrift;
    font-size: 17px;
    padding: 6px;
    background-color: #ffff;
    border: 1px solid #434343;
    border-radius: 5px;
}

.olimps {
    width: 600px;
    height: 80px;
    margin-left: 340px;

}

.tableolimps td th {
    margin-left: 50px;
}

.nameolimp1 {
    width: 285px;
    text-align: center;
    position: absolute;
    margin-top: -13px;
    font-family: Bahnschrift;
    font-size: 17px;
    font-weight: 400;
    padding: 6px;
    background-color: #ffff;
    border: 1px solid #434343;
    border-radius: 5px;
}

.namefio {
    text-align: center;
    position: absolute;
    margin-top: -10px;
    font-weight: 400;
    font-family: Bahnschrift;
    font-size: 17px;
    margin-left: 90px;
    padding: 6px;
    max-width: 210px;
    background-color: #ffff;
    border: 1px solid #434343;
    border-radius: 5px;
}

#zagolovokdeistie {
    position: relative;
    right: 480px;

}

.surname {
    text-align: center;
    position: absolute;
    margin-top: 0px;
    font-weight: 400;
    font-family: Bahnschrift;
    font-size: 17px;
    margin-left: 65px;
    max-width: 210px;
    background-color: #ffff;
    border-radius: 5px;
}

.name {
    margin-left: 180px
}

.gender {
    margin-top: -20px;
    margin-left: 487px;
}

.birth {
    margin-top: -20px;
    margin-left: 700px;
}


.buttonedit {
    position: absolute;
    margin-left: 1600px;
    margin-top: -34px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #2C62EE;
    font-size: 18px;
    font-weight: 400;
    font-family: Bahnschrift;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.buttonedit:hover {
    cursor: pointer;
}
