html {
    overflow: hidden;
    font-family: Bahnschrift;
    zoom: 85%;
    max-width: 100%;
    max-height: 100%;
    animation: anim-navbar 0.3s linear;

}

.main {
    position: fixed;
    background-color: #FBF7F4;
    /* background-color: #a1a1a1; */
    width: 100%;
    height: 100%;
    margin-left: 400px;
    border-radius: 10px;
    padding-left: 100px;
    padding-top: 70px;
}

h1 {
    font-size: 26px;
    position: relative;
}

.cl {
    position: relative;
    left: 90px;
    top: -45px;
}

.ol {
    position: relative;
    left: 150px;
    top: -45px;
}

.classroom {
    position: absolute;
}

.olympiad {
    position: absolute;
    left: 800px;
}

#filterbtn {
    position: relative;
    left: 1260px;
}

#id_classroom {
    width: 150px;
}

#id_olympiad {
    width: 300px;;
}

#id_classroom, #id_olympiad{
    background-color: #FBF7F4;
    border: 1px solid black;
    border-radius: 3px;
    height: 26px;
    text-align: center;
    position: relative;
    bottom: 3px;
}
.mainbtn, .input-file span {
    transition-property: background;
    transition-duration: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #000;
    width: 170px;
    background: #FFF;
    text-align: center;
    top: 100px;
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
}

.mainbtn:hover, .input-file span:hover {
    color: #FFFFFF;
    background-color: #272626;
    cursor: pointer;
}

.importblock .mainbtn, .exportblock .mainbtn {
    width: 300px;
}
.input-file {
	position: relative;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.exportblock .mainbtn {
    left: 1130px;
    top: 87px;
}
.importblock .mainbtn {
    position: absolute;
    top: 140px;
    left: 0px;
}

.importblock {
    position: relative;
    bottom: 30px;
}

table {
    position: relative;
    top: 130px;
    width: 1430px;
    text-align: center;
    border-radius: 5px;
}

table th, table td{
    border: none;
}

table td{
    padding: 3px;
    border-top: 1px solid #000;
}

