.golova {
    width: 1800%;
    background-color: white;
}


.wordhead {
    user-select: none;
    padding: 0;
    position: fixed;
    left: 450px;
    top: 15px;
    font-size: 18px;
    color: gray;
}

.btnh {
    background-color: white;
    border: none;
}
#yourlogo {
    position: absolute;
    display: flex;
    right: 10px;
    top: 15px;
}
#chat {
    position: absolute;
    display: flex;
    right: 90px;
    top: 25px;
}

#sun {
    position: absolute;
    display: flex;
    right: 150px;
    top: 25px;
}