{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'student-applications/student-applications.css' %}" id="them">
    <title>Olimp | Заявки вашего класса</title>
</head>
<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'student-applications/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Заявки учеников</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw" src="{% static 'student-applications/img/sun.png' %}">
            </button>
        </div>
        <div id="yourlogo">
            <button class="avatarka"><img class="sun" id="avatarka"
                                          src="{% static 'student-applications/img/avatarka.png' %}">
            </button>
        </div>
        <div id="chat">
            <button class="chatik"><img class="sun" id="chatblack"
                                        src="{% static 'student-applications/img/chatblack.png' %}">
            </button>
        </div>
    </div>
</header>
<body>
{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}


<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Заявки учеников</h1>
        <h2 class="toptext2">Класс {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }}</h2>
    </div>
    <div class="topbuttons">
        <a class="buttonspispeople" type="submit">Список участников</a>
        <a class="buttonsend" href="{% url 'main:register_send_teacher' %}">Отправить заявку</a>
        <a class="buttonadd" href="/admin/main/register/add/">Добавить ученика</a>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <th>
                    <div id="textid">ID</div>
                </th>
                <th>
                    <div id="textychenik">Ученик</div>
                </th>
                <th>
                    <div id="textolimp">Олимпиада</div>
                </th>
                <th>
                    <div id="textstage">Этап</div>
                </th>
                <th>
                    <div id="textgender">Пол</div>
                </th>
                <th>
                    <div id="textdate">Дата рождения</div>
                </th>
                <th>
                    <div id="textdeistie">Действие</div>
                </th>
            </table>

        </div>

        <div class="mainspisokpoeple">
            {% for register in register %}
                <div class="nameid">{{ register.id }}</div>
                <div class="namefio">{{ register.Register_send_str.child.last_name }} {{ register.Register_send_str.child.first_name }} {{ register.Register_send_str.child.surname }}</div>
                <div class="olimps">
                    <table class="tableolimps">
                        <td>
                        <th>
                            <div class="nameolimp1">{{ register.Register_send_str.Olympiad.name }}</div>
                        </th>
                        </td>
                    </table>
                </div>
                <div class="namestage">{{ register.Register_send_str.Olympiad.stage }}</div>
                <div class="namegender">{{ register.Register_send_str.child.gender }}</div>
                <div class="namedate">{{ register.Register_send_str.child.birth_date }}</div>
                <a class="buttonedit" type="submit" value="Изменить"
                   href="{% url 'main:register_remove_teacher' register.id %}">Удалить</a>
            {% endfor %}
        </div>


    </div>
</div>
</body>
</html>
