{% load static %}
{% load admin_urls %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olimp | Профиль</title>
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
    <link rel="shortcut-icon" href="{% static 'profile/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'profile/img/logoolimp.jpg' %}">
</head>
<header>
    <div class="golova">
        <img class="logo" src="{% static 'profile/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Настройки</p>
        <div id="sun">
            <button class="solnce"><img class="sun" src="{% static 'profile/img/sun.png' %}"></button>
        </div>
    </div>
</header>
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}

<div class="main">
    <div class="textprofile">
        <p>Профиль</p>
    </div>
    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <img class="imgocontovka" src="{% static 'profile/img/Base.png' %}"
                 alt="">
            <img class="imgpers" src="


                    {% if user.image %}{{ user.image.url }}{% else %}{% static 'profile/img/Group 289710.png' %}{% endif %}"
                 alt="">
        </div>
        <div class="info">

            <div class="textinfo">
                <p class="fioinfo">{{ user.last_name }} {{ user.first_name }} {{ user.surname }}</p>
                {% if user.status_user == 'У' %}
                    <p class="classinfo">Класс: {{ user.child.classroom }}</p>
                {% endif %}
                {% if user.status_user == 'У' %}
                    <p class="teach">Классный руководитель: {{ user.child.classroom.info_teacher }} </p>
                {% endif %}
                {% if user.status_user == 'Уч' %}
                    <p class="teach">Классный руководитель {{ user.teacher.classroom_guide }} класса</p>
                {% endif %}
                {% if user.status_user == 'А' %}
                    <p class="teach">Должность {{ user.status_user }} класса</p>
                {% endif %}


                <p class="teacherinfo">{{ user.classroom.info_teacher }}</p>
            </div>


            {#            <div class="boxlevel">#}
            {#                <div class="levelmainkrug">#}
            {#                    <p id="textmainkrug">1</p>#}
            {##}
            {#                </div>#}
            {#                <p id="textlevel">Уровень</p>#}
            {#                <p id="textxp">500 опыта до следующего уровня</p>#}
            {#                <div class="polosochka">#}
            {#                    <div class="putpolosa">#}
            {#                        <div class="xpstart"><p>300</p></div>#}
            {#                        <div class="xpslesh"><p>/</p></div>#}
            {#                        <div class="xpend"><p>500</p></div>#}
            {#                        <svg id="zvezda" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"#}
            {#                             fill="none">#}
            {#                            <path opacity="0.6"#}
            {#                                  d="M5.0949 8.53366L7.56586 10.0974C8.01837 10.384 8.5721 9.96035 8.45302 9.42456L7.79807 6.48396L9.98323 4.50279C10.3822 4.14145 10.1678 3.45614 9.64384 3.41253L6.76801 3.1571L5.64268 0.378478C5.44024 -0.126159 4.74957 -0.126159 4.54713 0.378478L3.4218 3.15087L0.545966 3.4063C0.0220049 3.44991 -0.192343 4.13522 0.206582 4.49656L2.39174 6.47773L1.73679 9.41833C1.61771 9.95412 2.17144 10.3778 2.62395 10.0912L5.0949 8.53366Z"#}
            {#                                  fill="black"></path>#}
            {#                        </svg>#}
            {#                    </div>#}
            {#                    <div class="levelpolosa"></div>#}
            {#                    <div class="krugpolosa1">#}
            {#                        <p id="textpolosa1">1</p>#}
            {##}
            {#                    </div>#}
            {#                    <div class="krugpolosa2">#}
            {#                        <p id="textpolosa2">2</p>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </div>#}
            {{ form.image }}
        </div>
        <div class="editname">
            <p class="texteditname">Имя пользователя</p>
            {{ form.username }}
        </div>
        <div class="editemailphone">
            <div class="editemail">
                <img src="{% static 'profile/img/Mail.png' %}" alt="" class="photoeditpe">
                <p class="texteditname">Email</p>
                {{ form.email }}
            </div>
            <div class="editphone">
                <img src="{% static 'profile/img/Phone.png' %}" alt="" class="photoeditpe">
                <p class="texteditname">Номер телефона</p>
                <input type="input" id="phoneedit" placeholder="Введите свой номер телефона" name="emailedit">
            </div>
        </div>

        <div class="buttons">
            <a class="editpassbut" href="{% url 'users:password_change' %}" >Изменить пароль</a>
            <a class="savebutton"/>Сохранить</a>
        </div>
    </form>
</div>
</body>
</html>