<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olimp | Профиль</title>
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
    <link rel="shortcut-icon" href="{% static 'profile/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'profile/img/logoolimp.jpg' %}">
</head>
<header>
    <div class="golova">
        <img class="logo" src="{% static 'profile/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Настройки</p>
        <div id="sun">
            <button class="solnce"><img class="sun" src="{% static 'profile/img/sun.png' %}"></button>
        </div>
        <div id="yourlogo">
            <button class="avatarka"><img class="sun" id="avatarka"
                    {#src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'profile/img/default-ava.png' %}{% endif %}">#}
            >
            </button>
        </div>
        <div id="chat">
            <button class="chatik"><img class="sun" id="chatblack"
                                        src="{% static 'profile/img/chat.png' %}"></button>
        </div>
    </div>
</header>
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}

<div class="main">
    <div class="textprofile">
        <p>Профиль</p>
    </div>
    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <img class="imgocontovka" src="{% static 'profile/img/Base.png' %}"
                 alt="">
            <img class="imgpers" src="
                    
                    {% if user.image %}{{ user.image.url }}{% else %}{% static 'profile/img/default-ava.png' %}{% endif %}"
                 alt="">
        </div>
        <div class="info">

            <div class="textinfo">
                <p class="fioinfo">{{ user.last_name }} {{ user.first_name }} {{ user.surname }}</p>
                {% if user.is_child %}
                    <p class="classinfo">Класс: {{ user.classroom.number }}{{ user.classroom.letter }}</p>
                {% endif %}
                {% if user.is_child %}
                    <p class="teach">Классный руководитель:
                        {{ user.classroom.teacher.last_name }} {{ user.classroom.teacher.first_name }} {{ user.classroom.teacher.surname }} </p>
                {% endif %}
                {% if user.is_teacher %}
                    <p class="teach">Классный руководитель
                        {{ user.classroom_guide.number }}{{ user.classroom_guide.letter }} класса</p>
                {% endif %}
                {% if user.is_admin %}
                    <p class="teach">Администратор системы</p>
                {% endif %}
            </div>
            {{ form.image }}
        </div>
        <div class="editname">
            <p class="texteditname">Имя пользователя</p>
            {{ form.username }}
        </div>
        <div class="editemailphone">
            <div class="editemail">
                <img src="{% static 'profile/img/email.png' %}" class="photoeditpe" alt="">
                <p class="texteditname">Email</p>
                {{ form.email }}
            </div>
{#            <div class="editphone">#}
{#                <img src="{% static 'profile/img/email.png' %}" alt="" class="photoeditpe">#}
{#                <p class="texteditname">Номер телефона</p>#}
{#                <input type="input" id="phoneedit" placeholder="Введите свой номер телефона" name="emailedit">#}
{#            </div>#}
        </div>

        <div class="buttons">
            <a class="editpassbut" href="{% url 'users:password_change' %}">Изменить пароль</a>
            <input class="savebutton" type="submit" value="Сохранить"/>
        </div>
    </form>
</div>
</body>
</html>