<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olimp | Заявки на регистрацию учебных классов</title>
    <link rel="stylesheet" href="{% static 'applications-from-classroom-teachers/applications-from-classroom-teachers.css' %}" id="them">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="shortcut-icon" href="{% static 'applications-from-classroom-teachers/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'applications-from-classroom-teachers/img/logoolimp.jpg' %}">

</head>
{% include 'header/header.html' %}
{% block header %}
    <p class="wordhead">Заявки на регистрацию учебных классов от классных руководителей</p>
{% endblock %}


{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}
<body>
<div class="main">
    <a class="buttonedit" type="submit" value="Изменить"
       href="{% url 'docs:export_excel' %}">Скачать все заявки</a>
    <a href="{% url 'docs:download_applications_zip' %}" class="buttonedit buttonzip">Скачать все согласия (ZIP)</a>
    <div class="mainblock">
        <div class="tablespisok">
            {% for classroom, registers in grouped_registers.items %}
                <h2>{{ classroom.teacher.get_full_name }} - {{ classroom.number }} {{ classroom.letter }}</h2>
                <a class="buttonedittrue" type="submit"
                   href="{% url 'docs:excel_classroom' classroom.id %}" class="btn btn-primary">Скачать excel файл</a>
                <ul>
                        <li>
                            <div class="textzag">
                            Ученик
                             <div class="olympiadzag">Олимпиада</div>
                            </div>
                        </li>
                    {% for register in registers %}
                        <li id="studentinfo">
                            {{ register.child_admin }}
                            <div class="olympiad">{{ register.Olympiad_admin.name }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>