html {
    font-family: Bahnschrift;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    background-color: #272626;
}
.golova {
    height: 83px;
    width: 1800%;

    background-color: #272626;
}
.logo {
    background-color: #272626;
    color: #272626;
    width: 52px;
    height: 52px;
    padding: 0;
    margin-top: 12px;
    margin-left: 13px;
}
.logoword {
    cursor: default;
    color: #FBF6EE;
    padding: 0;
    position: fixed;
    left: 80px;
    top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.wordhead{
    padding: 0;
    position: fixed;
    left: 450px;ц
top: 15px;
    font-size: 18px;
    color: gray;
}
#sun {
    left: 92.5%;
    position: fixed;
    margin-top: -53.1px;
    border:none;
    text-align: right;
    float: right;
    padding-right:10px;


}
.solnce{
    border:none;
    background-color: #272626;

}

.avatarka {
    left: 96.5%;
    position: fixed;
    margin-top: -67px;
    border:none;
    text-align: right;
    float: right;
    padding-right:10px;
    background-color: #272626;
}
.chatik{
    left: 94.5%;
    position: fixed;
    margin-top: -53.1px;
    border:none;
    text-align: right;
    float: right;
    background-color: #272626;
    padding-right:10px;
}
#spis {
    padding-top: 50px;
    padding-left: 20px;
    text-align: left;
    position: fixed;
    float: left;
    width: 400px;
    height: 100%;
    background-color: #272626;
}
#mainpage {
    padding-top: 5px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
    top:134px
}
#mainpageimg {
    left: 24px;
    top: 137px;
    position: fixed;
}

#register {
    padding-top: 85px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    top: 136px;
    left: 60px;
    font-size: 24px;
}

#registerimg {
    position: fixed;
    padding-top: 77.5px;

}

#rezultatimg {
    position: fixed;
    padding-top: 160px;
}
#rezultat{
    padding-top: 165px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    left: 60px;
    font-size: 24px;
}

#historyimg {
    position: fixed;
    padding-top: 240px;

}
#history {
    padding-top: 245px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#datesimg{
    position: fixed;
    padding-top: 320px;
}
#dates{
    padding-top: 325px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    left: 60px;
    font-size: 24px;

}
#settingimg {
    position: fixed;
    padding-top: 400px;
}
#setting {
    padding-top: 405px;
    text-decoration: none;
    color: #FFFFFF;
    position: fixed;
    left: 60px;
    font-size: 24px;

}
#spis:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 50px solid green;
    border-top-color: inherit;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.exitbutton {
    width: 183.822px;
    height: 56px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    background: #333333;
    position: fixed;
    left: 110px;
    bottom: 10px;
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.exitbutton:hover {
    cursor: pointer;
}
#mainpage1 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;

}

#mainpage {
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;

}

#mainpageimg {
    position: fixed;
}

#register {
    padding-top: 85px;
    text-decoration: none;
    color: #000;
    position: fixed;

    left: 60px;
    font-size: 24px;
}

#registerimg {
    position: fixed;
    padding-top: 80px;

}

#rezultatimg {
    position: fixed;
    padding-top: 160px;
}

#rezultat {
    padding-top: 165px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
}

#historyimg {
    position: fixed;
    padding-top: 240px;

}

#history {
    padding-top: 245px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#datesimg {
    position: fixed;
    padding-top: 320px;
}

#dates {
    padding-top: 325px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;

}

#settingimg {
    position: fixed;
    padding-top: 400px;
}

#setting {
    padding-top: 405px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
}

#mainpage {
    text-decoration: none;
}

#mainpage2 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
}

.mainpage2 {
    margin-top: 60px;
}

#mainpage3 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
}

.mainpage3 {
    margin-top: 60px;
}

#mainpage4 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
}

.mainpage4 {
    margin-top: 60px;
}

#mainpage5 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
}

.mainpage5 {
    margin-top: 60px;
}

#mainpage6 {
    width: 400px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 60px;
    font-size: 24px;
    font-weight: bold;
}

.mainpage6 {
    margin-top: 60px;
}

#spis:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 50px solid green;
    border-top-color: inherit;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}


#spis:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-top: 50px solid green;
    border-top-color: inherit;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.center {
    margin-left: 300px;
}

.zayavki {
    font-size: 30px;
}

.class {
    margin-top: 20px;
    opacity: 0.5;
}

.spisoku4astnikov {
    background-color: black;
    color: #FFFFFF;
    height: 31px;
    border-radius: 14px;
    text-align: center;
    width: 214px;
    padding-top: 13px;
    margin-top: 20px;
}

.na4alotabli4ki {
    margin-top: 50px;
}

.tabli4ka {
    margin-left: 300px;
}

.fio {
    margin-top: -19.5px;
    margin-left: 50px;
}

.subject {
    margin-top: -19.5px;
    margin-left: 120px;
}

.stage {
    margin-top: -19.5px;
    margin-left: 300px;
}

.level {
    margin-top: -19.5px;
    margin-left: 400px;
}

.potolok {
    margin-top: -19.5px;
    margin-left: 550px;
}
.center {
    padding-top: -100px;
    position: fixed;
    background-color: #333333;
    width: 100%;
    height: 100%;
    margin-left: 400px;
    border-radius: 10px;
}