{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'basket-student-applications/regzayavki.css' %}" id="them">
    <link rel="icon" href="{% static 'applications-from-classroom-teachers/img/logoolimp.jpg' %}">
    <link rel="stylesheet" href="{% static 'register-olympiad/daisy.css' %}">
    <title>Olimp | Ваши заявки</title>
</head>

<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'basket-student-applications/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Ваши заявки</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw"
                                        src="{% static 'basket-student-applications/img/sun.png' %}">
            </button>
            <div id="yourlogo">
                <button class="avatarka"><img class="sun" id="avatarka"
                                              src="{% static 'register-olympiad/img/avatarka.png' %}"></button>
            </div>
            <div id="chat">
                <button class="chatik"><img class="sun" id="chatblack"
                                            src="{% static 'register-olympiad/img/Chatblack.png' %}"></button>
            </div>
        </div>
    </div>
</header>
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}

<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Ваши заявки</h1>
        <h2 class="toptext2">Ваш класс: {{ user.classroom.number }}{{ user.classroom.letter }}</h2>
    </div>
    <div class="topbuttons">
        <input class="buttonspispeople" type="submit" value="Список заявок"/>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <th>
                    <div id="textid">ID</div>
                </th>
                <th>
                    <div id="textychenik">Ученик</div>
                </th>
                <th>
                    <div id="textolimp">Олимпиада</div>
                </th>
                <th>
                    <div id="textstage">Этап</div>
                </th>
                <th>
                    <div id="textgender">Пол</div>
                </th>
                <th>
                    <div id="textdate">Дата рождения</div>
                </th>
                <th>
                    <div id="textdeistie">Действие</div>
                </th>
            </table>

        </div>

        <div class="mainspisokpoeple">
            <ul>
                {% for register in register %}
                    <li>
                        <div class="nameid">{{ register.id }}</div>
                        <div class="namefio">{{ register.child.last_name }} {{ register.child.first_name }} {{ register.child.surname }}</div>
                        <div class="olimps">
                            <table class="tableolimps">
                                <td>
                                <th>
                                    <div class="nameolimp1">{{ register.Olympiad.name }}</div>
                                </th>
                                </td>
                            </table>
                        </div>
                        <div class="namestage">{{ register.Olympiad.stage }}</div>
                        <div class="namegender">{{ register.child.gender }}</div>
                        <div class="namedate">{{ register.child.birth_date }}</div>
                        <a class="buttonedit" type="submit" value="Изменить"
                           href="{% url 'main:register_remove' register.id %}">Удалить</a>
                    </li>


                {% endfor %}
            </ul>
        </div>

    </div>
    <div id="buttons">
        <a class="buttonadd" href="{% url 'main:register-olympiad' %}" type="submit" value="Добавить олимпиаду">Добавить
            олимпиаду</a>
        <button class="trigger" type="submit">Отправить заявку</button>
        <div class="modal">
            <div role="alert" class="alert">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="stroke-info shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>Вы точно хотите отправить?</span>
                <div>
                    <a class="btn btn-sm" href="{% url 'main:register_send' %}">Да</a>
                    <button class="btn btn-sm" href="">Нет</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".btn-sm");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>
</body>
</html>
