{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'basket-student-applications/regzayavki.css' %}" id="them">
    <title>Регистрация заявок</title>
</head>
<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'basket-student-applications/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Ваши заявки</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw"
                                        src="{% static 'basket-student-applications/img/sun.png' %}">
            </button>
        </div>
        <div id="yourlogo">
            <button class="avatarka"><img class="sun" id="avatarka"
                                          src="{% static 'basket-student-applications/img/avatarka.png' %}"></button>
        </div>
        <div id="chat">
            <button class="chatik"><img class="sun" id="chatblack"
                                        src="{% static 'basket-student-applications/img/chatblack.png' %}"></button>
        </div>
    </div>
</header>
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}

<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Ваши заявки</h1>
        <h2 class="toptext2">Ваш класс: {{ user.classroom.number }}{{ user.classroom.letter }}</h2>
    </div>
    <div class="topbuttons">
        <input class="buttonspispeople" type="submit" value="Список заявок"/>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <th>
                    <div id="textid">ID</div>
                </th>
                <th>
                    <div id="textychenik">Ученик</div>
                </th>
                <th>
                    <div id="textolimp">Олимпиада</div>
                </th>
                <th>
                    <div id="textstage">Этап</div>
                </th>
                <th>
                    <div id="textgender">Пол</div>
                </th>
                <th>
                    <div id="textdate">Дата рождения</div>
                </th>
                <th>
                    <div id="textdeistie">Действие</div>
                </th>
            </table>

        </div>

        <div class="mainspisokpoeple">
            <ul>
                    {% for register in register %}
                        <li>
                            <div class="nameid">{{ register.id }}</div>
                            <div class="namefio">{{ register.child.last_name }} {{ register.child.first_name }} {{ register.child.surname }}</div>
                            <div class="olimps">
                                <table class="tableolimps">
                                    <td>
                                    <th>
                                        <div class="nameolimp1">{{ register.Olympiad.name }}</div>
                                    </th>
                                    </td>
                                </table>
                            </div>
                            <div class="namestage">{{ register.Olympiad.stage }}</div>
                            <div class="namegender">{{ register.child.gender }}</div>
                            <div class="namedate">{{ register.child.birth_date }}</div>
                            <a class="buttonedit" type="submit" value="Изменить"
                               href="{% url 'main:register_remove' register.id %}">Удалить</a>
                        </li>


                    {% endfor %}
            </ul>
        </div>

    </div>

    <a class="buttonsend" type="submit" href="{% url 'main:register_send' %}">Отправить заявку</a>
    <a href='{% url 'main:register-olympiad' %}' class="buttonadd" type="submit" value="Добавить олимпиаду">Добавить
        олимпиаду</a>
</body>
</html>