{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'children_list_admin/children_list_admin.css' %}" id="them">
    <title>Olimp | Список учеников</title>
</head>
<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'children_list_admin/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Список учеников</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw"
                                        src="{% static 'children_list_admin/img/sun.png' %}">
            </button>
        </div>
        <div id="yourlogo">
            <button class="avatarka"><img class="sun" id="avatarka"
                                          src="{% static 'children_list_admin/img/avatarka.png' %}">
            </button>
        </div>
        <div id="chat">
            <button class="chatik"><img class="sun" id="chatblack"
                                        src="{% static 'children_list_admin/img/chatblack.png' %}">
            </button>
        </div>
    </div>
</header>
<body>
{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}


<div class="main">
    <div class="toptext">
        <h1 class="toptext1">Список учеников</h1>
        <h2 class="toptext2">Класс: {{ classroom.number }}{{ classroom.letter }}</h2>
    </div>
    <div class="topbuttons">
        <input class="buttonspispeople" type="submit" value="Список участников"/>
        <a class="buttonadd" href="{% url 'users:CreateChild' %}">Добавить ученика</a>
    </div>
    <div class="tablespisok">
        <div class="zagolovok">
            <table class="mainspisokpoepletable">
                <th>
                    <div id="id">ID</div>
                </th>
                <th>
                    <div id="textsurname">ФИО</div>
                </th>
                <th>
                    <div id="textgender">Пол</div>
                </th>
                <th>
                    <div id="textbirth">Дата рождения</div>
                </th>

            </table>

        </div>
        {% for child in child %}
        <div class="mainspisokpoeple">
            <div class="surname">{{ child.id }}</div>
            <div class="name">{{ child.last_name }} {{ child.first_name }} {{ child.surname }}</div>
            <div class="gender">{{ child.gender }}</div>
            <div class="birth">{{ child.birth_date }}</div>


            <a class="buttonedit" type="submit" value="Изменить"
               href="{% url 'main:child_remove_admin' child.id %}">Удалить</a>

        </div>
        {% endfor %}

    </div>
</div>
</body>
</html>
