html {
    overflow: hidden;
    font-family: Bahnschrift;
    zoom: 85%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}


.logoword {
    margin-left: 0px;
}

.main {
    background-color: #f7f7f7;
    margin-left: 400px;
    width: 110%;
    overflow: auto;
    border-radius:15px;
    height: 100%;
    padding: 70px 55px 500px -20px;
    padding-top: 70px;



}



h1 {
    margin-left: 10px;
}

#id_stage, #id_category, #id_date {
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-left: 100px;
    background-color: #f7f7f7;
    border: 1px solid #959595;
}
#id_date {
    height: 27px;
}
p {
    margin-left: 100px;
}

.filters {
    text-align: center;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.filtrovanie {
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 0.6px;
    padding: 0 14px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 16px;
    position: fixed;
    margin-left: 50px;
}

.data {
    width: 100px;
    margin-left: 200px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 0.6px;
    padding: 0 14px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 16px;
    position: fixed;;
}

.category {
    width: 100px;
    margin-left: 330px;
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 0.6px;
    padding: 0 14px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 16px;
    position: fixed;
}


.imgfiltr {
    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 0.6px;
    padding: 0 10px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 7px;
    position: fixed;

}

.add {
    width: 238px;
    position: fixed;
    background: #4880ff;
    color: white;
    border-radius: 15px;
    padding: 9px 4px 9px 4px;
    margin-top: -40px;
    margin-left: 1350px;
    text-decoration: none;
    text-align: center;


}

.tablica {
    margin-top: 50px;
    font-size: 18px;
    margin-left: 70px;
    width: 1500px;
    height: 811px;
    border-radius: 15px;



}

.oformlenie {
     text-align: center;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 0.2px;
    height: 30px;
}



.zag {
    margin-left: 180px;
}
.z1 {
    margin-left: 50px;
}




.primer {
    margin-top: 40px;
    text-align: center;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.p1{
    position: absolute;
}
.name {
    left: 500px;
}
.kategoriya {
    left: 800px;
}
.stage {
    left: 1030px;
}
.level {
   left: 1263px;
}
.date {
    left: 1540px;
}
.deistivie{
    position: absolute;
    left: 1865px;
    margin-top: -5px;

}
.pencil {

    border-right-color: gray;
    border-right-style: solid;
    border-right-width: 0.6px;
    text-decoration: none;
    width: 26px
}

.bin {
    margin-left: 4px;
}

.otobrajenie {
    margin-top: 850px;
    margin-left: 20px;
    position: fixed;
}

.strelki {
    margin-top: 850px;
    margin-left: 1100px;
    position: fixed;
    width: 86px;
    height: 30px
}

.vlevo {
    text-decoration: none;
}

.vpravo {
    text-decoration: none;
}
