{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'add_students/add_students_light.css' %}" id="them">
    <link rel="icon" href="{% static 'add_students/img/logoolimp.jpg' %}">

    <title>Olimp | Ваши заявки</title>
</head>

<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'add_students/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Создание нового ученика</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw"
                                        src="{% static 'add_students/img/sun.png' %}">
            </button>
            <div id="yourlogo">
                <button class="avatarka"><img class="sun" id="avatarka"
                                              src="{% static 'add_students/img/avatarka.png' %}"></button>
            </div>
            <div id="chat">
                <button class="chatik"><img class="sun" id="chatblack"
                                            src="{% static 'add_students/img/Chatblack.png' %}"></button>
            </div>
        </div>
    </div>
</header>
<body>

{% include 'navbar/navbar.html' %}
{% block content %}

{% endblock %}

<div class="main">

    <h1 class="add_newstudents_text">Создание нового ученика</h1>
    <ul class="spisokreg">
        <li>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="divFam">
                    <h2>Фамилия</h2>
                    {{ form.last_name }}
                    {# <input type=search class="vvodinfo" placeholder="Введите фамилию ученика">#}
                </div>
        </li>
        <li>
            <div class="divName">
                <h2>Имя</h2>
                {{ form.first_name }}
                {# <input type=search class="vvodinfo" placeholder="Введите имя ученика">#}
            </div>
        </li>
        <li>
            <div class="divOtch">
                <h2>Отчество</h2>
                {{ form.surname }}
            </div>
        </li>
        <li>
            <div class="divDate">
                <h2>Дата рождения</h2>
                {{ form.birth_date }}
                {# <input type=search class="vvodinfo" placeholder="Введите дату рождения ученика">#}
            </div>
        </li>
        <li>
            <div class="divGen">
                <h2>Пол</h2>
                {{ form.gender }}
            </div>
        </li>
        <li>
            <div class="divClass">
                <h2>Учебный класс</h2>
                {{ form.classroom }}
                {# <input type=search class="vvodinfo" placeholder="Введите учебный класс ученика">#}
            </div>
        </li>
        <li>
            <div class="divLogin">
                <h2>Логин</h2>
                {{ form.username }}
                {# <input type=search class="vvodinfo" placeholder="Введите логин ученика">#}
                <a class="randombutton" href="#">Случайный</a>
            </div>
        </li>
        <li>
            <div class="divPassword">
                <h2>Пароль</h2>
                {{ form.password }}
                <!--                <input type=search class="vvodinfo" placeholder="Введите пароль ученика">-->
                <a class="randombutton" href="#">Случайный</a>
            </div>
            <div class="divPassword">
                <h2>Пароль</h2>
                {{ form.password1 }}
                <!--                <input type=search class="vvodinfo" placeholder="Введите пароль ученика">-->
                <a class="randombutton" href="#">Случайный</a>
            </div>
            <div class="divPassword">
                <h2>Пароль</h2>
                {{ form.password2 }}
                <!--                <input type=search class="vvodinfo" placeholder="Введите пароль ученика">-->
                <a class="randombutton" href="#">Случайный</a>
            </div>
{#            {{ form.is_child }}#}
        </li>

    </ul>

    <div class="right">
        <div class="editphoto">
            <div>
                {{ form.errors }}
                <img class="imgpers" src="





                        {% if user.image %}{{ user.image.url }}{% else %}{% static 'profile/img/default-ava.png' %}{% endif %}"
                     alt="">

                <img class="imgocontovka" src="{% static 'profile/img/Base.png' %}"
                     alt="">

                <input class="savenewphoto" type="submit" value="Загрузить новое фото"/>
                <input class="delbutton" type="submit" value="Удалить фото"/>

            </div>
        </div>


        <button type="submit" class="savebutton">Создать</button>
        </form>
    </div>


    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector(".trigger");
        var closeButton = document.querySelector(".btn-sm");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script>
</body>
</html>
