<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список олимпиад | Olimp</title>
    <link rel="stylesheet" href="{% static 'list-olympiad/list_olympiad.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="shortcut-icon" href="{% static 'list-olympiad/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'list-olympiad/img/logoolimp.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% include 'header/header.html' %}
{% block header %}
    <p class="wordhead">Список олимпиад</p>
{% endblock %}
{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}
<body>
<div class="main">

    <div class="filtr">
        <form method="get">
            <div class="filters">
                <div class="dateolympiad">
                    <p>Дата проведения:</p>
                {{ filterset.form.date }}
                </div>

                <div class="categoryolympiad">
                    <p>Категория олимпиады:</p>
                {{ filterset.form.category }}
                    </div>

                <div class="stageolympiad">
                    <p>Название этапа:</p>
                {{ filterset.form.stage }}
                    </div>

            </div>
        </form>
    </div>
    <a class="add" href="{% url 'main:olympiad_create' %}">Добавить новую олимпиаду</a>

    <div class="tablica">
        <div class="oformlenie">
            <div class="zag z1">Название</div>
            <div class="zag">Категория</div>
            <div class="zag">Этап</div>
            <div class="zag">Уровень</div>
            <div class="zag">Дата проведения</div>
            <div class="zag">Действия</div>
        </div>
        {% for olympiad in olympiads %}
            <div class="primer">
                <div class="name p1">{{ olympiad.name }}</div>
                <div class="kategoriya p1">{{ olympiad.category }}</div>
                <div class="stage p1">{{ olympiad.stage }}</div>
                <div class="level p1">{{ olympiad.level }}</div>
                <div class="date p1 ">{{ olympiad.date }}</div>
                <div class="deistivie">
                <a class="action">
                    <a class="pencil" href="{% url 'main:olympiad_update' olympiad.pk %}"><img
                            src="{% static 'list-olympiad/img/pencil-write.png' %}"> </a>
                    <a class="bin" href="{% url 'main:olympiad_delete' olympiad.pk %}"><img
                            src="{% static 'list-olympiad/img/bin.png' %}"></a>
                </a></div>
            </div>
        {% endfor %}
    </div>



</div>
</body>
</html>
