<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список олимпиад | Olimp</title>
    <link rel="stylesheet" href="{% static 'list-olympiad/list_olympiad.css' %}">
    <link rel="shortcut-icon" href="{% static 'list-olympiad/img/shortcuticon.png' %}">
    <link rel="icon" href="{% static 'list-olympiad/img/logoolimp.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <div class="golova">
        <img class="logo" id="l-tip" src="{% static 'list-olympiad/img/logoolimp.jpg' %}">
        <p class="logoword">Olimp</p>
        <p class="wordhead">Список олимпиад</p>
        <div id="sun">
            <button class="solnce"><img class="sun" id="sunw"
                                        src="{% static 'list-olympiad/img/sun.png' %}">
            </button>
        </div>
        <div id="yourlogo">
            <button class="avatarka"><img class="sun" id="avatarka"
                                          src="{% static 'list-olympiad/img/avatarka.png' %}">
            </button>
        </div>
        <div id="chat">
            <button class="chatik"><img class="sun" id="chatblack"
                                        src="{% static 'list-olympiad/img/Chatblack.png' %}">
            </button>
        </div>
    </div>
</header>
{% include 'navbar/navbar.html' %}
{% block content %}
{% endblock %}
<body>
<div class="main">
    <h1>Олимпиады</h1>

    <div class="filtr">
        <a class="imgfiltr"><img class="img" src="{% static 'list-olympiad/img/filter.png' %}"></a>
        <div class="filtrovanie">Фильтровать по</div>
        <a class="data">Дата</a>
        <a class="category">Категория</a>
        <a class="etap">Этап</a>
        <a class="sbros"><img src="{% static 'list-olympiad/img/Path.png' %}"> Сбросить фильтр</a>
    </div>
    <a class="add" href="">+ Добавить новую олимпиаду</a>


    <div class="tablica">
        <div class="oformlenie">
            <div class="jpg">Изображение</div>
            <div class="name">Название</div>
            <div class="kategoriya">Категория</div>
            <div class="stage">Этап</div>
            <div class="level">Уровень</div>
            <div class="date">Дата проведения</div>
            <div class="actions">Действия</div>
        </div>
        {% for olympiad in olympiad %}
        <div class="primer">
            <img class="jpg" src="">
            <div class="name">{{ olympiad.name }}</div>
            <div class="kategoriya">{{ olympiad.category }}</div>
            <div class="stage">{{ olympiad.stage }}</div>
            <div class="level">{{ olympiad.level }}</div>
            <div class="date">13.05.2024</div>
            <a class="action">
                <a class="pencil" href=""><img src="{% static 'list-olympiad/img/pencil-write.png' %}"> </a>
                <a class="bin" href="{% url 'main:olympiad_remove' olympiad.id %}"><img
                        src="{% static 'list-olympiad/img/bin.png' %}"></a>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="otobrajenie">
        Отображается 1-9 из 78
    </div>
    <div class="strelki">
        <a class="vlevo" href="">
            <img src="{% static 'list-olympiad/img/ic-keyboard-arrow-left-24px.png' %}">
        </a>
        <a class="vpravo" href="">
            <img src="{% static 'list-olympiad/img/ic-keyboard-arrow-left-24px%20(1).png' %}">
        </a>
    </div>
</div>


</body>
</html>